/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .text-center h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
    font-size:80px;
    }
    
/* .link_404{      
color: #fff!important;
padding: 10px 20px;
background: #39ac31;
margin: 20px 0;
display: inline-block;}
.contant_box_404{ margin-top:-50px;} */

.link-container {
text-align: center;
}

.a {
text-decoration: none;
color: #fff;
}
a:hover {
    color: #000;
}


.link_404 {
text-transform: uppercase;
font-size: 13px;
background-color: #73181e;
padding: 10px 15px;
border-radius: 0;
color: #fff;
display: inline-block;
margin-right: 5px;
margin-bottom: 5px;
line-height: 1.5;
text-decoration: none;
margin-top: 05px;
letter-spacing: 1px;
}

/* /*======================
    404 page end */
