{% load static %} {% load bootstrap4 %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <title>Welcome to CU Online Proctoring</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/404.css' %}" />
  </head>

  <body>
    <section class="page_404">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12 col-sm-offset-1 text-center">
              <div class="four_zero_four_bg"></div>

              <div class="contant_box_404">
                <h1 class="text-center" style="font-family: Copperplate, Papyrus, fantasy; font-size: 120px;">404</h1>

                <h3 class="h2">Look like you're Lost.........</h3>

                <p>The page you are looking for is not avaible!!!!</p>
                <p>Recheck your URL and come back again..........</p>

                <div class="main-button-red shake">
                  <a href="{% url 'index' %}" class="link_404">Go to Home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
