{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <!-- Content of the page -->
  <div class="row">
    <div class="col-md-3">
      <!-- Vertical navigation bar -->
      <ul class="nav flex-column">
        {% for question in questions %}
          <li class="nav-item">
            <a class="nav-link question-link" href="#" data-question-id="{{ question.id }}">
              Question {{ forloop.counter }}: {{ question.question_text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-9">
      <!-- Main content -->
      <div id="question-display"></div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      var questionDisplay = $('#question-display');
      var currentQuestion = null;

      $('.question-link').click(function(e) {
        e.preventDefault();
        var questionId = $(this).data('question-id');
        currentQuestion = getQuestionById(questionId);
        displayQuestion(currentQuestion);
      });

      function displayQuestion(question) {
        questionDisplay.empty();
        questionDisplay.append('<h3>Question ' + question.id + '</h3>');
        questionDisplay.append('<p>' + question.question_text + '</p>');

        var form = $('<form method="post" action="/exam/{{ exam.id }}/attempt"></form>');
        form.append('{% csrf_token %}');
        for (var i = 0; i < question.options.length; i++) {
          var option = question.options[i];
          var optionLabel = $('<label></label>').text(option.option_text);
          var radioInput = $('<input type="radio">').attr({
            id: 'option_' + option.id,
            name: 'question_' + question.id,
            value: option.id
          });
          form.append($('<div></div>').append(radioInput).append(optionLabel));
        }
        questionDisplay.append(form);
      }

      function getQuestionById(questionId) {
        return questions.find(function(question) {
          return question.id === questionId;
        });
      }
    });

    var questions = [
      {% for question in questions %}
        {
          id: {{ question.id }},
          question_text: "{{ question.question_text }}",
          options: [
            {% for option in question.options.all %}
              {
                id: {{ option.id }},
                option_text: "{{ option.option_text }}"
              },
            {% endfor %}
          ]
        },
      {% endfor %}
    ];
  </script>
{% endblock %}
