{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Welcome to CU Online Proctoring</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet"> -->

    <!-- Additional CSS Files -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet"  href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet"  href="{% static 'css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet"  href="{% static 'css/owl.css' %}">
    <link rel="stylesheet"  href="{% static 'css/lightbox.css' %}">

  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is Chandigarh University Online Proctoring Website</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="https://www.facebook.com/cuonlinelearning/" target="_blank"><i class="fa-brands fa-facebook-f fa-fade" alt="Facebook"></i></a></li>
              <li><a href="https://www.twitter.com/cuonline/" target="_blank"><i class="fa-brands fa-twitter fa-shake" alt="Twitter"></i></a></li>
              <li><a href="https://www.instagram.com/cuonlinelearning/?hl=en" target="_blank"><i class="fa-brands fa-instagram fa-spin-pulse" alt="Instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/company/chandigarhuniversityonlinelearning/?originalSubdomain=in" target="_blank"><i class="fa-brands fa-linkedin fa-bounce" alt="Linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCUie-riiCGS2Lqbj7MqIgqA" target="_blank"><i class="fa-brands fa-youtube fa-flip" alt="Youtube " ></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'index' %}" class="logo">
                          <img src="{% static 'images/logo.png' %}" alt="OnlineExam" >
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'index' %}">Home</a></li>
                          <li><a href="{% url 'courses' %}">Teacher Page</a></li>
                          <!-- <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Pages</a>
                              <ul class="sub-menu">
                                  <li><a href="#">Upcoming Exams</a></li>
                                  <li><a href="#">Exam Details</a></li>
                              </ul>
                          </li> -->
                          <li><a href="{% url 'student' %}">Student Page</a></li>
                          <li><a href="http://43.240.66.78:7268/contact-us" target="_blank">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
  {% block content %}










  {% endblock content %}

<section class="exam-us" id="exams">

  <div class="footer">
    <p>Copyright © 2023 Online Exam, CU Online, All Rights Reserved.
        <br>Design: <a href="https://www.cuchd.in" target="_blank" title="Chandigarh University">Chandigarh University</a></p>
  </div>

</section>
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% if messages %}
{% for message in messages %}
  <script>
    alert("{{ message }}");
  </script>
{% endfor %}
{% endif %}
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
      direction = section.replace(/#/, ''),
      reqSection = $('.section').filter('[data-section="' + direction + '"]'),
      reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos },
        800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
        $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
          currentId = $this.data('section'),
          reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
          siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });

  // student page start
  const date = new Date();
  const year = date.getFullYear();
  const month = date.getMonth() + 1; // Add 1 to get month in the range 1-12
  const day = date.getDate();
  const formattedDateString = new Date(`${year}-${month}-${day}`);
  const formattedDate = Math.floor(formattedDateString.getTime() / 1000); // Convert to seconds
  const itemElements = document.getElementsByClassName("item");
  const examStartTimestamps = [];
  for (let i = 0; i < itemElements.length; i++) {
    const itemElement = itemElements[i];
    const itemExamStartDateString = itemElement.getAttribute("start-date");
    var inputDate = moment(itemExamStartDateString, "MMM D, YYYY, h:mm a");
    if (!inputDate.isValid()) {
      console.log("Invalid date format");
    } else {
      var edate = inputDate.format("ddd MMM DD YYYY HH:mm:ss [GMT]ZZ");
      const edates = new Date(edate);
      const years = edates.getFullYear();
      const months = edates.getMonth() + 1; // Add 1 to get month in the range 1-12
      const days = edates.getDate();
      const ExamDateStrings = new Date(`${years}-${months}-${days}`);
      const itemExamStartTimestamp = Math.floor(ExamDateStrings.getTime() / 1000); // Convert to seconds

      examStartTimestamps.push(itemExamStartTimestamp);
      itemElement.classList.add(`item-${i}`);
    }
  }

  for (let i = 0; i < itemElements.length; i++) {
    const itemElement = itemElements[i];
    const classList = itemElement.classList;

    if (formattedDate > examStartTimestamps[i]) {
      classList.remove(`item-${i}`);
      classList.add("att");
    } else if (formattedDate < examStartTimestamps[i]) {
      classList.remove(`item-${i}`);
      classList.add("imp");
    } else if (formattedDate === examStartTimestamps[i]) {
      classList.remove(`item-${i}`);
      classList.add("soon");
    }
  }
  // student page end
</script>
</body>


</html>