{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CU Online Proctoring</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/exam.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/all.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

{% include 'examination.html'%}


</html>