<!-- question_popup.html -->

<form method="post" action="{% url 'exam_attempt' 1 %}">
    {% csrf_token %}
  
    {% for question in questions %}
      {% if question.id == question_id %}
        <h3>{{ question.question_text }}</h3>
        {% if question.option1 %}
          <input type="radio" name="answer_{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}<br>
        {% endif %}
        {% if question.option2 %}
          <input type="radio" name="answer_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
        {% endif %}
        {% if question.option3 %}
          <input type="radio" name="answer_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
        {% endif %}
        {% if question.option4 %}
          <input type="radio" name="answer_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
        {% endif %}
      {% endif %}
    {% endfor %}
  
    <button type="submit">Submit</button>
  </form>
  