{% extends 'navbar.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<section class="heading-page header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Teacher's Page</h2>
            </div>
        </div>
    </div>
</section>
<section class="exam-us" id="exam">
    <div class="container" style="max-width: 95%;">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <div class="row">
                    <div class="col-lg-3">
                        <form id="exam" action="{% url 'questions' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Menu</h2>
                                </div>
                                <section class="meetings-page" id="meetings">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="filters">
                                                            <ul>
                                                                <!-- <li onclick="location.href='teacher'">Categories</li> -->
                                                                <li onclick="location.href='courses'">Courses</li>
                                                                <li onclick="location.href='exams'">Exams</li>
                                                                <li onclick="location.href='questions'"
                                                                    class="active">Questions</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>
                    <!-- lg9 start-->
                    <div class="col-lg-9">
                        <form id="exam" action="{% url 'questions' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <section class="meetings-page" id="meetings">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <!-- content-start -->
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <h2>Questions
                                                                <div class="col-lg-12">
                                                                    <button type="button" class="button"
                                                                        onclick="location.href='#popup-box';">
                                                                        Create New Question
                                                                    </button>
                                                                    <button type="button" class="button"
                                                                        onclick="location.href='#popup-box5';">
                                                                        Upload from CSV
                                                                    </button>
                                                                </div>
                                                            </h2>
                                                            <!--popup -->
                                                            <div class="modal col-lg-12" id="popup-box">
                                                                <div class="content">
                                                                    <!-- start -->
                                                                    <div class="col-lg-12">
                                                                        <form id="exam" action="" method="post">
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <h2>Create Question</h2>
                                                                                </div>

                                                                                <div class="col-lg-4">
                                                                                    <select class="form-select"
                                                                                        aria-label="Select Course"
                                                                                        name="exam">
                                                                                        <option selected>Select Exam*</option>
                                                                                        {% for item in exam %}
                                                                                        <option value="{{item.id}}">{{item.exam_name}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input type="hidden" name="create_question" value="1">
                                                                                        <input name="name" type="text"
                                                                                            class="form-control" id="name"
                                                                                            placeholder="Question Name"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <textarea name="question"
                                                                                            type="text" class="form-control"
                                                                                            id="message"
                                                                                            placeholder=" You can type your Question text in the text area provided below. You can also format your Question text - i.e.- format the text 'bold/italic/underline'."
                                                                                            required=""></textarea>
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="image" type="file"
                                                                                            id="image" accept="image/*">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="option1"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            id="message"
                                                                                            placeholder="Option 1"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="option2"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            id="message"
                                                                                            placeholder="Option 2"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="option3"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            id="message"
                                                                                            placeholder="Option 3"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="option4"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            id="message"
                                                                                            placeholder="Option 4"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <input name="answer" type="text"
                                                                                            class="form-control"
                                                                                            id="message"
                                                                                            placeholder="Correct Option"
                                                                                            required="">
                                                                                    </fieldset>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <button type="submit"
                                                                                            id="form-submit"
                                                                                            class="button">Create Question</button>
                                                                                    </fieldset>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <!-- end -->
                                                                    <!-- close button -->
                                                                    <a href="#" class="box-close">×</a>
                                                                    <!-- close button -->
                                                                </div>

                                                            
                                                            </h2>
                                                         
                                                      
                                                        </div>
                                                            <!--popup ends -->
                                                            <div class="modal col-lg-12" id="popup-box5">
                                                                <div class="content">
                                                                    <!-- start -->
                                                                    <div class="col-lg-12">
                                                                        <form id="exam" action="" method="post" enctype="multipart/form-data">
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <h2> Upload from CSV</h2>
                                                                                </div>

                                                                                 <div class="col-lg-4">
                                                                                    <select class="form-select"
                                                                                        aria-label="Select Course"
                                                                                        name="exam">
                                                                                        <option selected>Select Exam*</option>
                                                                                        {% for item in exam %}
                                                                                        <option value="{{item.id}}">{{item.exam_name}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <!-- script -->
                                                                                <script type="text/javascript">
                                                                                    
                                                                                    function Upload() {
                                                                                        var fileUpload = document.getElementById("fileUpload");
                                                                                        var fileUpload = document.getElementById("fileUpload");
                                                                                        var selectedExam = document.querySelector('select[name="exam"]').value;
                                                                                        var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

                                                                                        var formData = new FormData();
                                                                                        formData.append("csrfmiddlewaretoken", csrfToken);
                                                                                        formData.append("selected_exam", selectedExam); // Add the selected exam value
                                                                                        formData.append("csv_file", fileUpload.files[0]);

                                                                                        var xhr = new XMLHttpRequest();
                                                                                        xhr.open("POST", "{% url 'questions' %}", true); // Replace with the actual URL name
                                                                                        xhr.onreadystatechange = function () {
                                                                                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                                                                                if (xhr.status === 200) {
                                                                                                    // Handle successful response (optional)
                                                                                                    console.log(xhr.responseText);
                                                                                                } else {
                                                                                                    // Handle error (optional)
                                                                                                    console.error(xhr.responseText);
                                                                                                }
                                                                                            }
                                                                                        };
                                                                                        xhr.send(formData);
                                                                                    // ==============
                                                                                        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
                                                                                        if (regex.test(fileUpload.value.toLowerCase())) {
                                                                                            if (typeof (FileReader) != "undefined") {
                                                                                                var reader = new FileReader();
                                                                                                reader.onload = function (e) {
                                                                                                    var table = document.createElement("table");
                                                                                                    var rows = e.target.result.split("\n");
                                                                                                    for (var i = 0; i < rows.length; i++) {
                                                                                                        var cells = rows[i].split(",");
                                                                                                        if (cells.length > 1) {
                                                                                                            var row = table.insertRow(-1);
                                                                                                            for (var j = 0; j < cells.length; j++) {
                                                                                                                var cell = row.insertCell(-1);
                                                                                                                cell.innerHTML = cells[j];
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                    var csvData = table.outerHTML;  // Get the HTML content of the table
                                                                                                    // Open a new window/tab with the CSV data
                                                                                                    var newWindow = window.open("", "_blank");
                                                                                                    newWindow.document.write("<html><head><title>CSV Data</title></head><body>");
                                                                                                    newWindow.document.write("<h2>CSV Data</h2>");
                                                                                                    newWindow.document.write(csvData);
                                                                                                    newWindow.document.write("</body></html>");
                                                                                                }
                                                                                                reader.readAsText(fileUpload.files[0]);
                                                                                            } else {
                                                                                                alert("This browser does not support HTML5.");
                                                                                            }
                                                                                        } else {
                                                                                            alert("Please upload a valid CSV file.");
                                                                                        }
                                                                                    }
                                                                                </script>
                                                                                <div class="col-lg-12">
                                                                                <fieldset>
                                                                                    <input type="hidden" name="upload_csv" value="1">
                                                                                    <input type="file" id="fileUpload" name="csv_file">
                                                                                </fieldset>
                                                                                </div>
                                                                                <!-- <input type="submit" value="Upload and Create Questions">
                                                                                <input type="file" id="fileUpload" /> -->
                                                                                <input type="button" id="Preview" value="Preview" onclick="Upload()" />
                                                                                <hr />
                                                                                <!--  <div id="dvCSV">

                                                                                </div>-->
                                                                                
                                                                                
                                                                                <!--_id=request.user|get_profile:request %}" -->
                                                                                <div class="col-lg-12">
                                                                                    <fieldset>
                                                                                        <button type="submit"
                                                                                            id="form-submit"
                                                                                            class="button">Create Questions From Selected File</button>
                                                                                    </fieldset>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <!-- end -->
                                                                    <!-- close button -->
                                                                    <a href="#" class="box-close">×</a>
                                                                    <!-- close button -->
                                                                </div>

                                                            
                                                            </h2>
                                                         
                                                      
                                                        </div>
                                                        <!-- content start -->
                                                        <section class="meetings-page" id="meetings">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-12"
                                                                        style="overflow-y: auto; overflow-x: auto; height: 700px !important;">
                                                                        <div class="row">
                                                                            <table class="styled-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Question_ID</th>
                                                                                        <th>Question_Name</th>
                                                                                        <th>Question_Text</th>
                                                                                        <th>Option_1</th>
                                                                                        <th>Option_2</th>
                                                                                        <th>Option_3</th>
                                                                                        <th>Option_4</th>
                                                                                        <th>Correct_Answer</th>
                                                                                        <th>Examination_Name</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {% for item in data %}
                                                                                    <tr class="active-row">
                                                                                        <td>{{item.id}}</td>
                                                                                        <td><a
                                                                                                href="{% url 'question_detail' question_id=item.id %}"
                                                                                                style="color: #870000;">{{ item.question_name }}</a>
                                                                                        </td>
                                                                                        <td>{{item.question_text}}</td>
                                                                                        <td>{{item.option1}}</td>
                                                                                        <td>{{item.option2}}</td>
                                                                                        <td>{{item.option3}}</td>
                                                                                        <td>{{item.option4}}</td>
                                                                                        <td>{{item.correct_answer}}</td>
                                                                                        <td>{{item.question_exam}}</td>
                                                                                    </tr>
                                                                                    {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <!-- content end -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h2></h2>
                                                    <div class="pagination">
                                                        <ul>
                                                            {% if data.has_previous %}
                                                            <li><a href="?page=1"> 1</a></li>
                                                            <li><a href="?page={{ data.previous_page_number }}"><i
                                                                        class="fa-solid fa-chevron-left fa-beat"
                                                                        style="color: #fff;"></i></a></li>
                                                            {% endif %}
                                                            <li class="active"><a href="#">{{data.number}}</a></li>
                                                            {% if data.has_next %}
                                                            <li><a href="?page={{ data.next_page_number }}"><i
                                                                        class="fa-solid fa-chevron-right fa-beat"
                                                                        style="color: #fff;"></i></a></li>
                                                            <li><a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a>
                                                            </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- content-end -->
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
