{% extends 'navbar.html' %}
{% block title %}Student{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <menu>        </menu> -->
        <h2>Menu</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*" class="active">All Exams</li>
                <li data-filter=".soon">Today's Exams</li>
                <li data-filter=".imp">Upcoming Exams</li>
                <li data-filter=".att">Previous</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row grid">
              {% for item in data.object_list %}
              <div
                class="col-lg-4 templatemo-item-col all item"
                start-date="{{ item.exam_start_date }} "
              >
                <div class="meeting-item">
                  <div class="thumb">
                    <div class="price">
                      <span>{{ item.id }}</span>
                    </div>
                    <a href="{% url 'proctoring' item.id %}"
                      ><img
                        src="{% static 'images/exam.gif' %}"
                        alt="{{ item.exam_name }}"
                    /></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      <h6>{{ item.exam_course }}</h6>
                    </div>
                    <a href="{% url 'proctoring' item.id %}"
                      ><br />
                      <h4>Name: {{ item.exam_name }}</h4>
                      <br
                    /></a>
                    <p1
                      ><strong>Description: </strong
                      ><em>{{ item.exam_description }}.</em></p1
                    ><br />
                    <p1><strong>Date: </strong>{{ item.exam_start_date }}</p1>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="pages">
              <ul>
                {% if data.has_previous %}
                <li><a href="?page=1"> 1</a></li>
                <li><a href="?page={{ data.previous_page_number }}"><i class="fa-solid fa-chevron-left fa-beat" style="color: #000000;"></i></a></li></a></li>
                {% endif %}
                <li class="active"><a href="#">{{data.number}}</a></li>
                {% if data.has_next %}
                <li><a href="?page={{ data.next_page_number }}"><i class="fa-solid fa-chevron-right fa-beat" style="color: #000000;"></i></a></li>
                <li><a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
